{% extends 'default.html' %}
{% block head %}
{{super()}}

<style>
#pixel-shader-canvas {
	width: 100%;
	height: 100%;
}
</style>

<script type="text/javascript" src="{{site.script('pixel.js')}}"></script>

<script id="vertex-shader" type="x-shader/x-vertex">
attribute vec2 a_position;
varying vec2 position;
void main() {
	position = (a_position + 1.0) * 0.5;
	gl_Position = vec4(a_position, 0, 1);
}
</script>

<script id="fragment-shader" type="x-shader/x-fragment">
{% block shader %}
{% endblock %}
</script>

<script type="text/javascript">
var pixelCanvas;

window.addEventListener('load', function() {
	try {
		pixelCanvas = window.pixelCanvas = new PixelCanvas({
			canvas: document.getElementById('pixel-shader-canvas'),
			vertexShaderSource: document.getElementById('vertex-shader').textContent,
			fragmentShaderSource: document.getElementById('fragment-shader').textContent
		});
	} catch (e) {
		alert(e);
	}
});

function openPNG(w=null, h=null) {
	if (w == null) w = parseInt(window.prompt('width'));
	if (h == null) h = parseInt(window.prompt('height'));

	pixelCanvas.toBlob(function(blob) {
		var link = document.getElementById('pixel-download');
		//link.setAttribute('download', 'pixel-render.jpg');
		link.setAttribute('download', 'pixel-render.png');
		link.setAttribute('href', URL.createObjectURL(blob));
		link.click();
	//}, w, h, mimeType='image/jpeg');
	}, w, h, mimeType='image/png');
}

window.addEventListener('keypress', function(e) {
	switch (e.key) {
		case 'p':
			openPNG();
			break;
		case 'o':
			openPNG(5120, 2880); // 5k
			break;
	}
});
</script>

{% endblock %}

{% block body %}
<canvas id="pixel-shader-canvas"></canvas>
<a id="pixel-download" href="" style="display: none;"></a>
{% endblock %}
