title: 'Ray Mod'
;;;
{% extends 'pixel-shader.html' %}
{% block shader %}
precision mediump float;

varying vec2 position;
uniform float time;
uniform vec2 resolution;

const float PI = 3.1415926;
float p1 = 1.5;
float p2 = .3;
float p3 = .1;

float ncos(float n) {
  return (cos(n) + 1.) / 2.;
}

float r(vec2 pos) {
  float n = 0.;
  float iter = 0.;
  float nMax = 3.;
  for (int i = 0; i < 100; i++) {
    n += ncos(pos.x) * pos.x+mod(pos.x, pos.y*p1+.2);
    if (n > nMax) break;
    iter += 1.;
  }
  return (iter / nMax) * ncos(time) * 4.;
}

vec2 rotate(vec2 v, float t) {
  return mat2(cos(t), -1. * cos(t), sin(t), cos(t)) * v;
}

vec3 garble(vec3 c) {
  return mat3(
    .1, .1, p2,
    .0, .1, .1,
    p3, .1, .1
    ) * c;
}

void main() {
  vec2 pos = position;
  pos = rotate(pos*.25+.1, .25*PI);
  vec3 c = vec3(mod(r(pos), 3.));
  //vec3 c = vec3(r(pos));
  c = garble(c);
  gl_FragColor = vec4(c, 1.);
}
{% endblock %}
