$todo: #A8C023;
$comment: #808080;

$orange: #CC7832; // keyword
$yellow: #BBB529; // metadata
$blue: #6897BB; // numeric
$purple: #9876AA; // static field
$light-orange: #FFC66D; // static method
$green: #6A8759; // string
$cyan: #507874; // type
$red: #FF0000; // error

/**
 * Syntax highlighting styles
 */
.highlight {
    background: #2B2B2B;
    @extend %vertical-rhythm;

    .c     { color: $comment; font-style: italic } // Comment
    .err   { color: $red; background-color: #e3d2d2 } // Error
    .k     { color: $orange; font-weight: bold } // Keyword
    .o     { font-weight: bold } // Operator
    .cm    { color: $comment; font-style: italic } // Comment.Multiline
    .cp    { color: $comment; font-weight: bold } // Comment.Preproc
    .c1    { color: $comment; font-style: italic } // Comment.Single
    .cs    { color: $comment; font-weight: bold; font-style: italic } // Comment.Special
    .gd    { color: #000; background-color: $red } // Generic.Deleted
    .ge    { font-style: italic } // Generic.Emph
    .gr    { color: $red } // Generic.Error
    .gh    { color: #999 } // Generic.Heading
    .gi    { color: #000; background-color: $green } // Generic.Inserted
    .go    { color: #888 } // Generic.Output
    .gp    { color: #555 } // Generic.Prompt
    .gs    { font-weight: bold } // Generic.Strong
    // .gu    { color: #aaa; } // Generic.Subheading
    // .gt    { color: #a00; } // Generic.Traceback
    .kc    { font-weight: bold } // Keyword.Constant
    .kd    { font-weight: bold } // Keyword.Declaration
    .kp    { font-weight: bold } // Keyword.Pseudo
    .kr    { font-weight: bold } // Keyword.Reserved
    .kt    { color: $cyan; font-weight: bold } // Keyword.Type
    .m     { color: $blue } // Literal.Number
    .s     { color: $green } // Literal.String
    .na    { color: $purple } // Name.Attribute
    .nb    { } // Name.Builtin
    .nc    { font-weight: bold } // Name.Class
    .no    { color: $purple } // Name.Constant
    .ni    { } // Name.Entity
    // .ne    { color: $red; font-weight: bold } // Name.Exception
    // .nf    { color: $red; font-weight: bold } // Name.Function
    // .nn    { color: #555 } // Name.Namespace
    // .nt    { } // Name.Tag
    // .nv    { } // Name.Variable
    .ow    { font-weight: bold } // Operator.Word
    .w     { color: #bbb } // Text.Whitespace
    .mf    { color: $blue; } // Literal.Number.Float
    .mh    { color: $purple } // Literal.Number.Hex
    .mi    { color: $blue } // Literal.Number.Integer
    .mo    { color: $purple } // Literal.Number.Oct
    .sb    { color: $green } // Literal.String.Backtick
    .sc    { color: $green } // Literal.String.Char
    .sd    { color: $green } // Literal.String.Doc
    .s2    { color: $green } // Literal.String.Double
    .se    { color: $green } // Literal.String.Escape
    .sh    { color: $green } // Literal.String.Heredoc
    .si    { color: $green } // Literal.String.Interpol
    .sx    { color: $green } // Literal.String.Other
    .sr    { color: lighten($green, 25%); } // Literal.String.Regex
    .s1    { color: $green; } // Literal.String.Single
    .ss    { color: $green } // Literal.String.Symbol
    .bp    { color: #999 } // Name.Builtin.Pseudo
    .vc    { color: #008080 } // Name.Variable.Class
    .vg    { color: #008080 } // Name.Variable.Global
    .vi    { color: #008080 } // Name.Variable.Instance
    .il    { color: $blue; } // Literal.Number.Integer.Long
}
