@charset "utf-8";

$base-font-family: Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$text-color:       {{site.textColor}};
$background-color: {{site.themeColor}};
$brand-color:      {{site.brandColor}};
$header-color:      {{site.headerColor}};

$spacing-unit: 1em;

@import url(https://fonts.googleapis.com/css?family=Raleway:400,300);

@import 'bourbon/bourbon';
@import "grid";
@import "util";
@import "base";
@import "layout";
@import "syntax-highlighting";
@import "logo";
@import "pages";
